WHMCS_API_URL=
WHMCS_API_IDENTIFIER=
WHMCS_API_SECRET=
WHMCS_METRICS_URL=
WHMCS_METRICS_TOKEN=
PORTAL_SESSION_SECRET=

MYSQL_HOST=localhost
MYSQL_PORT=3306
MYSQL_DATABASE=a2_check
MYSQL_USER=a2_check_user
MYSQL_PASSWORD=
